---
import DefaultLayout from '@layouts/defaultLayout.astro'
import Posts from '@components/postsList/postsList.astro'
---

<DefaultLayout title='Blog'>
  <main class="flex flex-col font-sans font-medium">
      <Posts/>
  </main>
</DefaultLayout>
