---
import Layout from '@layouts/Layout.astro'
import Posts from '@components/postsList/postsList.astro'
---

<Layout title='Blog'>
  <main class="flex flex-col font-sans font-medium">
      <Posts/>
  </main>
</Layout>
