---
import { getCollection, getEntryBySlug } from 'astro:content'
import DefaultLayout from '@layouts/defaultLayout.astro'
const allPosts = await getCollection('posts')
console.log(allPosts)
---

<DefaultLayout>
    <div>
        {allPosts.map(post => (
          <a
            href={`/blog/${post.slug}`}
          >
            <p>{post.data.title}</p>
          </a>
        ))}
    </div>
</DefaultLayout>
