---
import { storyblokEditable, useStoryblokApi } from '@storyblok/astro'

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? 'draft' : 'published',
  content_type: 'blogPost',
})

const posts = data.stories.map((story) => {
  return {
    title: story.content.title,
    date: new Date(story.published_at).toLocaleDateString('en-US', { dateStyle: 'full' }),
    description: story.content.description,
    slug: story.full_slug,
  }
})

const { blok } = Astro.props

---

<ul {...storyblokEditable(blok)}>
  {posts.map(post => (
    <li>
      <a href={post.slug}>{post.title}</a>
      <p>{post.description}</p>
    </li>
  ))}
</ul>
