---
import DefaultLayout from '@layouts/defaultLayout.astro'
---

<DefaultLayout>
<main class="h-screen flex items-center justify-center">
    <h1 class="text-3xl">404 Not Found</h1>
</main>
</DefaultLayout>