---
import Layout from '@layouts/Layout.astro'

---

<Layout title="ekar">
  <article class="bg-white">
    <div class="bullSlide bull bg-amber-200  w48 h48 rounded-full">
    </div>
    <!-- <div class="bullSlide2 bull bg-green  w24 h24 rounded-full">
    </div>
    <div class="bullSlide3 bull bg-gray  w32 h32 rounded-full">
    </div>
    <div class="bullSlide4 bull bg-amber  w24 h24 rounded-full">
    </div>
    <div class="bullSlide5 bull bg-stone  w12 h12 rounded-full">
    </div> -->
    <!-- <div class="bullSlide6 bull bg-dark  w12 h12 rounded-full">
    </div> -->
  </article>
</Layout>

<style is:global>
@keyframes bull-slide {
  from {
    transform: rotateY(12);
    /* transform: scale(0.5); */
  }

  to {
    transform: rotateY(45);
    opacity:100;
    /* transform: scale(2); */
  }
}

.bullSlide {
  animation: bull-slide 1s ease-in-out 1;
  animation-fill-mode: both;
}
</style>
