---
import Layout from '@layouts/Layout.astro'
import ProjectsListLight from '@components/projectsList/projectsListLight.astro'
import PostsListLight from '@components/postsList/postsListLight.astro'
import Link from '@components/contactLink.astro'
const classList = [
  'opacity-0',
  'animate-slideUp',
  'animate-fill-both',
  'font-sans',
  'font-medium',
  'mt-8',
];
---

<Layout title="ekar">
  <article class="prose">
    <section class:list={['animate-delay-50 ', classList]}>
      <p class="font-bold font-serif text-xl">ekar</p>
    </section>
    <section class:list={['animate-delay-150', classList]}>
      <p>
        Hey! i'm ekar, from somewhere on the beautiful Earth, oxygen breather,
        <span class="font-serif italic decoration-none"
          >user interface builder</span
        >,
        <a
          class="font-serif italic decoration-none inline-block"
          target="_blank"
          href="https://pic.ekar.site"
        >
          freelance photographer</a
        >.
      </p>
    </section>
    <section class:list={['animate-delay-300', classList]}>
      <ProjectsListLight />
    </section>
    <section class:list={['animate-delay-450', classList]}>
      <PostsListLight />
    </section>
    <section class:list={['animate-delay-600', classList]}>
      <p id="blockTitle">Now</p>
      <p>
        I am currently in the stage of wild growth when I am first exposed to a
        new field that I love. Every day, I am busy realizing the ideas that
        come to mind, accumulating valuable experience and endless interest from
        both successes and failures, and then using them for more elegant
        implementation of new ideas.
      </p>
      <p>
        I find myself attracted to qualities that resonate with me and my
        aspirations in various forms of graphic design, user interface,
        interactive animation, sound design, film, literature, and photography.
        Everything that evokes aesthetics similar to those presented in works
        such as <a
          target="_blank"
          href="https://open.spotify.com/track/4nat4yXmaVsO5Cht7r4lIq?si=475d14ab88a74b96"
          class="inline font-serif italic decoration-none"
        >
          Weight of the World
        </a> by Suede and the movie <a
          target="_blank"
          href="https://www.imdb.com/title/tt0449467/"
          class="inline decoration-none font-serif italic"
        >
          Babel
        </a> appeals to me.
      </p>
      <p class="">
        Of course, the most important thing is to <span class="font-serif"
          >stay agile and build well-designed user interfaces.</span
        >
      </p>
    </section>
    <section class:list={['animate-delay-750', classList]}>
      <Link />
    </section>
  </article>
</Layout>

<style is:global>
  article a {
    @apply linkBase;
  }
  #blockTitle {
    @apply md:text-base font-extrabold italic;
  }
  #blockTitle::before {
    content: ":: ";
  }
</style>
