---
import DefaultLayout from '@layouts/defaultLayout.astro'
export const prerender = true;
---

<DefaultLayout title='ekar' >
<article id='mainWrapper' class="w-full">
    <section id='aboutMe'>
        <p class="mb-5">Ekar</p>
    </section>
    <section id='Project'>
        <p class="mb-5">Ekar</p>
    </section>
    <section id='Now'>
        <p class="mb-5">Ekar</p>
    </section>
</article>
</DefaultLayout>

<script >
import { useAnimation } from '../utils/useAnimation'
useAnimation('index')
</script>
<style>
#mainWrapper >*{
transform-style: preserve-3d;
}
</style>
