---
import DefaultLayout from '@layouts/defaultLayout.astro'
---

<DefaultLayout title='home' >
<main class="h-full">
<p class="text-4xl font-serif">The quick brown fox jumps over the lazy dog.</p>
</main>
</DefaultLayout>
