---
import DefaultLayout from '@layouts/defaultLayout.astro'
---

<DefaultLayout title='ekar' >
<article class="w-full">
    <section id='aboutMe'>
        <p class="mb-5">Ekar</p>
    </section>
    <section id='Project'>
        <p class="mb-5">Ekar</p>
    </section>
    <section id='Now'>
        <p class="mb-5">Ekar</p>
    </section>
</article>
</DefaultLayout>

<script >
import { useAnimation } from '../utils/useAnimation'
useAnimation('index')
</script>
<style>
article >*{
@apply translate-y-2 opacity-0
}
</style>
