<a
  href="https://gallery.olcchi.me"
  target="_blank"
  class="text-sm font-sans font-medium opacity-60 hover:opacity-100 transition-opacity ease z-40 hidden md:block"
  >Gallery</a
>
<a
  target="_blank"
  class="i-ph-image-square text-lg opacity-60 hover:opacity-100 transition-opacity ease md:hidden"
  href="https://gallery.olcchi.me"></a>
