---
import NavBar from '@components/header/Header.astro'
---

<main
  id="mask"
  class="fixed -top-1 flex items-center justify-between w-full z-30 p-2"
>
  <section id="navWrapper" class="w-full transition-opacity  md:opacity-100">
    <NavBar />
  </section>
</main>
<script>
const navWrapper = document.getElementById('navWrapper')!
let currentYPostion
let isDown
const dynamicNav = () => {
  navWrapper.classList.toggle('opacity-0', isDown)
  navWrapper.classList.toggle('opacity-100', !isDown)
}
window.addEventListener('scroll', () => {
  currentYPostion = window.scrollY
  isDown = currentYPostion > 30
  dynamicNav()
})
</script>
<style>
  #mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(to bottom, black, transparent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
</style>
