---
import Ekar from '@components/header/toolBar/ekar.astro'
import ThemeToggle from '@components/header/toolBar/themeToggle.astro'
import Github from '@components/header/toolBar/github.astro'
import RSS from '@components/header/toolBar/rss.astro'
import Blog from '@components/header/toolBar/blog.astro'
import Projects from '@components/header/toolBar/projects.astro'
---
<nav class="h-full flex items-center justify-between w-full pr-5 pl-5 pt-2 pb-2 mt-2">
    <Ekar />
    <section class="grid grid-flow-col justify-items-stretch gap-6 place-items-center z-40">
      <Projects/>
      <Blog />
      <RSS />
      <Github userName="Ekarmore"/>
      <ThemeToggle />
    </section>
</nav>
