
  <p id="blockTitle">Contact</p>
  <a class=" decoration-none" target="_blank" href="mailto:Earthb0y@outlook.com"
    >Earthb0y@outlook.com</a
  >
  <a class=" decoration-none" target="_blank" href="https://github.com/olcchi"
    >Github</a
  >
  <a class=" decoration-none" target="_blank" href="https://gallery.ekar.site"
    >Gallery</a
  >

<style>
a{
    @apply linkBase max-w-max
  }
</style>
