<p id="blockTitle">Contact</p>
<a class=" decoration-none" target="_blank" href="mailto:Earthb0y@outlook.com"
  >Earthb0y@outlook.com</a
><br />
<a class=" decoration-none" target="_blank" href="https://github.com/Ekarmore"
  >Github</a
><br />
<a class=" decoration-none" target="_blank" href="https://pic.ekar.site"
  >Photography Site</a
>

<style>
a{
    @apply defaultLink max-w-max
  }
</style>
