---
import Ekar from '@components/icon/ekar.astro'
import ThemeToggle from '@components/icon/themeToggle.astro'
import Github from '@components/icon/github.astro'

---
<nav class="h-full flex items-center justify-between w-full z-30 p-2 mt-5">
    <Ekar />
    <section class="flex items-center">
      <ThemeToggle />
      <Github userName="Ekarmore"/>
    </section>
</nav>
