---
import Ekar from '@components/icon/ekar.astro'
import ThemeToggle from '@components/icon/themeToggle.astro'
import Github from '@components/icon/github.astro'

---
<nav class="h-full flex items-center justify-between w-full pr-5 pl-5 pt-2 pb-2 mt-5">
    <Ekar />
    <section class="grid grid-cols-2  place-items-center gap-0.5 z-40">
      <ThemeToggle />
      <Github userName="Ekarmore"/>
    </section>
</nav>
