---
const { pathname } = Astro.url
const pathName = pathname.replace(/\//g, '')
const jumpTags = [
  {
    tag: 'Projects',
    path: '/projects/',
    isActive: pathName === 'projects',
  },
  {
    tag: 'Blog',
    path: '/posts/',
    isActive: pathName === 'posts',
  },
]
---
<main class="flex gap-5">
    {
        jumpTags.map((tag) => {
          return (
            <a href={tag.path} class:list={['text-xl mt-10 italic font-bold animate-delay-150 transition-opacity', { 'opacity-10 hover:opacity-50': !tag.isActive }]}>{tag.tag}</a>
          )
        })
    }
</main>
