---
import Projects from '@components/projectsList/projectsList.astro'
import DefaultLayout from '@layouts/defaultLayout.astro'
---

<DefaultLayout>
  <main class="flex flex-col font-sans font-medium">
      <Projects/>
  </main>
</DefaultLayout>

<style>
  /* main > * {
    @apply opacity-0 animate-slideInUp animate-fill-forwards;
  } */
</style>
