---
import Projects from '@components/projectsList/projectsList.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Projects'>
  <main class="flex flex-col font-sans font-medium">
      <Projects/>
  </main>
</Layout>
