---
import { allPosts } from './_postsCollection';
---

<main id="postsListWrapper" class="pt-5">
  {
    allPosts.map((postsCollectionOfYear) => {
      return (
        <div class="grid grid-cols-6 border-t borderBase ">
          <p class="col-span-1 text-sm text-gray-4 dark:text-dark-2 italic pt-4 pb-4 mr-20">
            {postsCollectionOfYear[0].collection}
          </p>
          {postsCollectionOfYear.map((post) => {
            return (
              <a
                id="posts"
                href={`/posts/${post.slug}`}
                class:list={[
                  'col-span-5',
                  'col-start-2',
                  'flex',
                  'items-center',
                  'justify-between',
                  'p-4',
                  {
                    'border-t borderBase': postsCollectionOfYear[0] !== post,
                  },
                ]}
              >
                <p>{post.data.title}</p>
                <p class="text-gray-4 dark:text-dark-2">{post.data.pubDate}</p>
              </a>
            )
          })}
        </div>
      )
    })
  }
</main>

<style>
  #postsListWrapper:hover #posts {
    @apply md:dark:text-dark-2 md:text-gray-3 md:transition-colors md:ease-in-out md:duration-300;
  }
  #postsListWrapper:hover #posts:hover {
    @apply md:themeBase md:transition-colors md:ease-in-out md:duration-100;
  }
</style>
