---
import DefaultLayout from '@layouts/defaultLayout.astro'
import BackTo from '@components/backTo.astro'
const { title } = Astro.props
---

<DefaultLayout title={title}>
    <article class="prose w-full">
        <div class="not-prose">
            <BackTo backTo="posts" />
        </div>
        <slot />
  </article>
</DefaultLayout>
