---
import Header from '@components/header.astro'
interface props {
  title: string;
}
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <Header/>
    <article class='h-95vh absolute w-full top-5vh dark:bg-dark-9 transition-all duration-200 ease-in-out'>
      <slot />
    </article>
  </body>
</html>

<script>

</script>
