---
import MaskHeader from '@components/header/maskHeader.astro'
import Footer from '@components/footer.astro'
import BackTo from '@components/backTo.astro'
import JumpTag from '@components/jumpTag/jumpTag.astro'
interface Props {
  title?: string;
}
const { title } = Astro.props;
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="defaultDark defaultLight">
    <MaskHeader />
    <main class="grid grid-cols-[1fr_min(65ch,90%)_1fr]">
      <article class="min-h-screen relative col-start-2 col-end-3">
        <div class="mt-20 mb-20 lg:mt-25 lg:mb-20 w-full">
          pathname:  {Astro.url.pathname} --- url:  {Astro.url}---{!['/posts', '/projects'].includes(Astro.url.pathname) ? 'false' : 'true'}
          <div class:list={[{ hidden: !['/posts', '/projects'].includes(Astro.url.pathname) }]}>
              <BackTo backTo=""/>
            <JumpTag />
          </div>
          <slot />
        </div>
        <Footer />
      </article>
    </main>
  </body>
</html>

<style is:global>
  ::-webkit-scrollbar {
    @apply dark:bg-black bg-white w-1 h-0 md:w-3;
  }

  ::-webkit-scrollbar-thumb {
    @apply dark:bg-dark-2 bg-gray-2 rounded-full border-solid border-1px md:border-5 dark:border-black border-white;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply dark:bg-dark-1 bg-gray-3;
  }
  ::selection {
    @apply dark:text-black dark:bg-white bg-black text-white;
  }
  ::-moz-selection {
    @apply dark:text-black dark:bg-white bg-black text-white;
  }
  ::-webkit-selection {
    @apply dark:text-black dark:bg-white bg-black text-white;
  }

</style>
