---
import DefaultLayout from '@layouts/defaultLayout.astro'
import BackTo from '@components/backTo.astro'
const { title } = Astro.props
const classList = [
  'opacity-0', 'animate-slideInUp', 'animate-fill-forwards',
];
---

<DefaultLayout title={title}>
  <main class="w-full">
    <div id="backToWrapper" class:list={['not-prose animate-delay-0', classList]}>
      <BackTo backTo="posts" />
    </div>
    <article id="postsWrapper" class:list={['animate-delay-150', classList]}>
      <slot />
    </article>
  </main>
</DefaultLayout>
